<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{ lista.titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-item>
      <ion-label position="floating">Nuevo Item</ion-label>
      <ion-input type="text" [(ngModel)]="nombreItem" (keyup.enter)="addItem()"></ion-input>
    </ion-item>

    <ion-list>
      <ion-list-header>Tareas por hacer</ion-list-header>
    </ion-list>

    <ion-item *ngFor="let item of lista.items">
      <ion-checkbox slot="start" [(ngModel)]="item.completado"></ion-checkbox>
      <ion-label>{{ item.desc }}</ion-label>
    </ion-item>

  </ion-list>


</ion-content>